<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container name="RegisteredTypes">
    <register type="ASPWebAPI.Services.IProductsDataAccess, ASPWebAPI" mapTo="ASPWebAPI.Services.ProductsDataAccess, ASPWebAPI" />
    <register type="ASPWebAPI.Services.ICustomersDataAccess, ASPWebAPI" mapTo="ASPWebAPI.Services.CustomersDataAccess, ASPWebAPI" />
    <register type="ASPWebAPI.Services.IPlayersDataAccess, ASPWebAPI" mapTo="ASPWebAPI.Services.PlayersDataAccess, ASPWebAPI" />
    <register type="ASPWebAPI.Services.IHighScoreDataAccess, ASPWebAPI" mapTo="ASPWebAPI.Services.HighScoreDataAccess, ASPWebAPI" />
  </container>
</unity>